textarea:focus, input:focus {
  outline: 0;
}

.abp {
  width: 100%;
  min-height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
}

#biu-comment-stage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.emitter {
  width: 500px;
  height: 45px;
  padding: 5px 10px;
  border: 1px solid #666;
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 255px);
}

.emitter .emitter-color {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  float: left;
}

.emitter .emitter-color-wrap {
  position: absolute;
  left: 0;
  bottom: 65px;
  display: none;
}

.emitter .emitter-input-wrap {
  width: 350px;
  height: 40px;
  float: left;
}

.emitter .emitter-input-wrap input {
  width: calc(100% - 85px);
  height: 28px;
  line-height: 40px;
  padding: 5px 10px;
  margin-left: 10px;
  float: left;
}

.emitter .emitter-input-wrap button {
  width: 50px;
  height: 42px;
  line-height: 40px;
  border: 1px solid transparent;
  text-align: center;
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFF;
  border-radius: 0 3px 3px 0;
  font-size: 16px;
}

.emitter .memitter-input-wrap button:hover {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}

.emitter .emitter-text-modal, .emitter .emitter-text {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  float: left;
  font-size: 30px;
  color: #999;
  text-align: center;
}

.emitter .emitter-text-wrap {
  position: absolute;
  left: 0;
  bottom: 65px;
  display: none;
}

.emitter .emitter-modal {
  width: 300px;
  border: 1px solid #ccc;
  color: #999;
  font-size: 14px;
}

.emitter .emitter-modal-title {
  line-height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.emitter .emitter-modal-close {
  float: right;
  cursor: pointer;
}

.emitter .emitter-modal-content {
  padding: 10px;
}

.emitter .emitter-modal p {
  margin: 5px 0 10px 0;
}

.emitter .fonts {
  margin-right: 10px;
  cursor: pointer;
  vertical-align: top;
}

.emitter .fonts.active {
  background: #AACEFF;
}

.emitter .fz-36 {
  font-size: 36px;
}

.emitter .fz-45 {
  font-size: 45px;
}

.emitter .emitter-modal ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.emitter .emitter-modal ul li {
  width: 60px;
  float: left;
  margin-right: 13px;
}

.emitter .emitter-modal li p {
  font-size: 12px;
  text-align: center;
}

.emitter .emitter-modal .mode-box {
  width: 60px;
  height: 40px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.emitter .emitter-modal .mode-box.active, .emitter .emitter-modal .mode-box:hover {
  border-color: #333;
}

.emitter .mode-box.active .dashed, .emitter .mode-box:hover .dashed {
  border-color: #333;
}

.emitter .mode-box .dashed {
  width: 30px;
  height: 0;
  border-bottom: 2px dashed #ccc;
  display: inline-block;
  position: absolute;
}

.emitter .mode-box .dashed.top-right {
  top: 10px;
  right: -30px;
  animation: left2right 2s linear infinite;
}

.emitter .mode-box .dashed.bottom-right {
  bottom: 10px;
  right: -30px;
  animation: left2right 2s linear infinite;
}

.emitter .mode-box .dashed.top {
  top: 10px;
  right: 15px;
}

.emitter .mode-box .dashed.bottom {
  bottom: 10px;
  right: 15px;
}

.emitter .margin-right-0 {
  margin-right: 0!important;
}

.emitter .emitter-text {
  position: relative;
}

.emitter .overline {
  width: 58px;
  height: 0;
  border-bottom: 2px solid #ccc;
  display: inline-block;
  position: absolute;
  top: 19px;
  left: -9px;
  transform: rotate(-45deg);
  display: none;
}

@-webkit-keyframes left2right {
  from {
    right: -30px;
  }
  to {
    right: 70px;
  }
}
